# Node modules
node_modules

# Git
.git
.gitignore

# Build outputs
dist
build
*.apk
*.aab

# Local dev files
.env
.env.local
.DS_Store
*.log

# IDE stuff
.vscode/
.idea/

# iOS/Android junk (if you're building for one platform at a time)

# Expo previews
web-build/
